<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Tələbə Reytinq Cədvəli</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
<div class="container">

    <div class="header">
        <h1>Tələbə Reytinq Cədvəli 🥇</h1>
        <a href="login.html" class="login-link">Giriş</a>
    </div>
    <div id="loading" class="loading">Cədvəl yüklənir...</div>
    <table id="ranking-table" style="display:none;">
        <thead>
        <tr>
            <th>Yer</th>
            <th>Ad, Soyad</th>
            <th>Ümumi Bal</th>
            <th>Imtahan Balı</th>
            <th>GPA Balı</th>
            <th>Layihə Balı</th>
            <th>Aktivlik Balı</th>
        </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</div>

<script src="scripts/index.js"></script>
</body>
</html>